.App {
	text-align: center;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.body {
	background-color: #d3d3d3;
	min-height: 100vh;
	padding-top: 10vh;
}

/* Display Cards */
.details {
	width: 30vw;
	height: auto;
	margin: 8% 0 0 10%;
	border-radius: 10px 10px 10px 10px;
	float: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	background-color: white;
}

.details:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.details-container {
	padding: 2px 16px;
}

.company-details {
	width: 30vw;
	height: auto;
	margin: 0% 0 0 10%;
	padding: 0.5% 2%;
	border-radius: 10px 10px 10px 10px;
	float: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	background-color: white;
}

.lower-company-details {
	width: 34vw;
	margin: 0 0 0 10%;
	height: auto;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	background-color: white;
	clear: both;
}

.company-chart {
	width: 50vw;
	height: auto;
	display: inline-block;
}

.modebar {
	display: none !important;
}

.arrow {
	width: 20px;
	height: auto;
	padding-left: 5px;
}

/* Navbar */
.form form {
	display: flex;
	margin: 20px 0;
}

.form input {
	height: 30px;
	padding-left: 10px;
	border: 1px solid #c1c1c1;
	margin-right: 10px;
	border-radius: 20px;
	flex: 3;
}

.form input:first-child {
	flex: 1;
}

.form button {
	color: #999;
	border-radius: 5px;
	border: 1px solid #999;
}

.form button:hover {
	cursor: pointer;
	color: #385997;
	border-color: #385997;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

li {
	float: left;
}

.right-floated {
	float: right;
}

li a,
li p {
	display: block;
	color: #d9d8db;
	text-align: center;
	padding: 14px 16px;
	margin: 16px 0;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

#logo {
	max-width: 50px;
	height: auto;
	display: inline-block;
	margin: 0.5em;
}

li h2 {
	display: inline-block;
	color: #d9d8db;
	position: relative;
	top: 50%;
}

/* Date Range Buttons */
.date-buttons {
	background-color: white;
	border: 2px solid #3773b3;
	border-radius: 6px;
	color: #3773b3;
	padding: 16px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	cursor: pointer;
	text-decoration: none;
}

.date-buttons:hover,
.date-buttons.active {
	background-color: #3773b3;
	color: white;
}
