.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.details {
	width: 30vw;
	height: auto;
	display: inline-block;
	padding-top: 5em;
	margin-left: -5%;
}

.company-chart {
	width: 50vw;
	height: auto;
	display: inline-block;
}

.modebar {
	display: none !important;
}

.form form {
	display: flex;
}

.form input {
	height: 30px;
	padding-left: 10px;
	border: 1px solid #c1c1c1;
	margin-right: 10px;
	border-radius: 20px;
	flex: 3;
}

.form input:first-child {
	flex: 1;
}

.form button {
	color: #999;
	border-radius: 5px;
	border: 1px solid #999;
}

.form button:hover {
	cursor: pointer;
	color: #385997;
	border-color: #385997;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: #d9d8db;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: #111;
}

#logo {
	max-width: 4vw;
	height: auto;
	display: inline-block;
	margin: 0.5em;
}

li h2 {
	display: inline-block;
	color: #d9d8db;
	position: relative;
	top: 50%;
}
